venv
venv/*
.env.local
.hireko_venv
.hireko_venv/*
.vscode
.vscode/*
nohup.out
.idea/
.DS_Store
.dockerignore
.terraform
.terraform/*
.terraform.lock.hcl
.terraform.lock.hcl/*
.terraform.lock.hcl/*/*
docker_output.log

# Ignore terraform outputs for BETA
infra/terraform_outputs_BETA.txt
infra/terraform_outputs_PROD.txt
infra/.terraform
infra/.terraform/*
infra/.terraform/*/*
infra/.terraform/*/*/*
infra/.terraform/*/*/*/*
infra/.terraform/*/*/*/*/*
infra/.terraform/*/*/*/*/*/*

.venv/
.venv/*
.venv/*/*
.venv/*/*/*
.venv/*/*/*/*
.venv/*/*/*/*/*
.venv/*/*/*/*/*/*
.venv/*/*/*/*/*/*/*